<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">UserManagementSystem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/groups" routerLinkActive="active">Groups</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a  *ngIf="!authservice.loggedin()" class="nav-link"   routerLink="/login" routerLinkActive="active">Login</a>
        <a *ngIf="!authservice.loggedin()" class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a>

        <a *ngIf="authservice.loggedin()" class="nav-link" href="#" (click)="logoutuser()">Logout</a>
        
          
    </ul>
  </div>
</nav> 